// COLORS
$black: #121212;
$white: #ffffff;
$darkBlue: #19202d;
$grey100: #e7eaee;
$grey200: #cfcfcf;
$grey400: #676d7e;
$grey500: #48556a;
$purple50: #ede4ff;
$purple300: #a775f1;
$purple500: #733fc8;

// FONTS
$barlow: "Barlow Semi Condensed", sans-serif;

// SPACING
$spacing-xl: 4rem;
$spacing-lg: 3.2rem;
$spacing-med: 2.4rem;
$spacing-sm: 1.6rem;
$spacing-xs: 0.8rem;
$spacing-xxs: 0.4rem;

// RESPONSIVE BREAKPOINTS
$bp-tablet: 48em; // 768px
$bp-mobile: 23.4375em; // 375px

// MIXINS
@mixin textPreset(
  $fontWeight: 600,
  $fontSize: 0,
  $lineHeight: 100%,
  $color: $black
) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

@mixin textPreset1($color) {
  @include textPreset(
    $color: $color,
    $fontWeight: 700,
    $fontSize: 2rem,
    $lineHeight: 120%
  );
}

@mixin textPreset2($color) {
  @include textPreset($color: $color, $fontSize: 1.3rem, $lineHeight: 110%);
}

@mixin textPreset3($color) {
  @include textPreset($color: $color, $fontSize: 1.3rem, $lineHeight: 140%);
}

@mixin textPreset4($color) {
  @include textPreset($color: $color, $fontSize: 1.1rem, $lineHeight: 110%);
}
