@use "@/app/_styles/variables" as *;

.attribution {
  background-color: $purple500;
  color: $white;
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;

  a {
    color: $purple50;
    transition: all 0.3s ease-in;

    &:hover {
      color: $grey200;
    }
  }
}
